<form class="md-toolbar-tools" layout="row" id="searchToolbar" autocomplete="off">
    <h3 class="pg-toolbar-label">
        Lek med rangering
    </h3>
    <md-input-container class="pg-input-container" md-theme="input" flex>
        <label for="search">Søk</label>
        <input autofocus="true" md-input class="pg-searchbox" #newquery
            [value]="searchModel.query"
            [(ngModel)]="searchModel.query"
            id="search"/>
    </md-input-container>
    <button md-fab class="md-mini md-primary" aria-label="Search" (click)="submit(newquery.value)">
        <i md-icon>search</i>
    </button>

</form>       
