        <form class="md-toolbar-tools" layout="row" id="searchToolbar">
            <h3 flex="20">
                <a [routerLink]="['Search']" alt="Home">
                    <i md-icon>home</i>
                </a>
                Lekeplass for søk
            </h3>

            <md-input-container class="pg-input-container" md-theme="input" flex>
                <label for="search">Søk</label>
                <input autofocus="true" md-input class="pg-searchbox" #newquery
                    [value]="searchModel.query"
                    [(ngModel)]="searchModel.query"
                    (keydown.enter)="submit()"
                    id="search"/>
            </md-input-container>
            <button md-fab class="md-mini md-primary" aria-label="Search" (click)="submit(newquery.value)">
                <i md-icon>search</i>
            </button>
            <button md-fab class="md-mini md-primary"
                [routerLink]="['Settings']" 
                aria-label="Settings">
                <i md-icon>settings</i>
            </button>


        </form>       
