<md-toolbar class="pg-toolbar">
    <search-box [(searchModel)]="searchModel" (results)="updateResults($event)" (loading)="loading=$event"></search-box>     
</md-toolbar>

    <div layout="row" layout-xs="column" layout-align="start start" layout-wrap>
        <div flex="20">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Instillinger for søk</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Antall treff</label>
                            <input md-input 
                                [(value)]="searchModel.size"
                                [(ngModel)]="searchModel.size"
                                type="number">
                        </md-input-container>
                        <md-input-container md-theme="md-block">
                            <select [(ngModel)]="searchModel.mediatype">
                            </select>
                        </md-input-container>
                        
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Resultater</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <search-result
                            *ngFor="#result of results; #last = last"
                            [result]="result"
                            [last]="last">
                        </search-result>
                    </md-list>
                </md-card-content>
            </md-card>

        </div>
    </div>
