            <search-settings [searchModel]="searchModel"></search-settings>
            <md-card flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            Instillinger for søk
                            <button id="menu-speed" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">more_horiz</i>
                            </button>
                            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="menu-speed">
                                <li class="mdl-menu__item" (click)="showAddToFavoritesDialog()"><i md-icon>favorite_border</i>Legg til i favoritter</li>
                                <li class="mdl-menu__item"><i md-icon>save</i>Lagre endringer</li>
                                <li class="mdl-menu__item"><i md-icon>restore</i>Tilbakestill</li>
                            </ul>
<dialog class="mdl-dialog">
    <p class="mdl-dialog__title">Legg til i favoritter</p>
    <div class="mdl-dialog__content">
        <form>
          <md-input-container class="md-block">
            <label for="testInput">Navn</label>
            <input type="text" id="favorite" md-input required [(ngModel)]="favorite.name"  md-autofocus>
          </md-input-container>
        </form>
    </div>
    <div class="mdl-dialog__actions">
      <button md-raised-button class="md-raised md-primary" (click)="addToFavorites()">Lagre</button>
      <button md-raised-button class="md-raised md-primary" (click)="closeAddToFavoritesDialog()">Avbryt</button>
    </div>
  </dialog>
                        </span>                            
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="column" layout-gt-md="row" layout-align="space-between center" class="pg-row">
                        <md-input-container md-theme="md-block">
                            <md-switch class="md-primary" md-no-ink aria-label="Digital" [(checked)]="searchModel.digital">
                                Digital
                            </md-switch>
                        </md-input-container>
                        <md-input-container md-theme="md-block">
                            <md-switch class="md-primary" md-no-ink aria-label="Fritekst" [(checked)]="searchModel.freetext">
                                Fritekst
                            </md-switch>
                        </md-input-container>
                        <md-input-container md-theme="md-block">
                            <md-switch class="md-primary" md-no-ink aria-label="Grupper" [(checked)]="searchModel.group">
                                Grupper
                            </md-switch>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-gt-md="row" layout-align="space-between center" class="pg-row">
                        <div flex="25">
                            <md-input-container md-theme="md-block">
                                Mediatype
                            </md-input-container>
                        </div>
                        <div flex="65">
                            <md-input-container md-theme="md-block" flex>
                                <select [(ngModel)]="searchModel.mediatype" class="pg-mediatypes">
                                    <option *ngFor="#mediatype of mediatypes" [value]="mediatype.value">
                                        {{mediatype.label}}
                                    </option>
                                </select>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column" layout-gt-md="row" layout-align="space-between center" class="pg-row" *ngFor="#boostField of searchModel.boostFields">
                        <div layout="row" flex="25">
                            <md-input-container md-theme="md-block">
                                {{boostField.label}}
                            </md-input-container>
                        </div>
                        <div layout="row" flex="75">
                            <md-input-container md-theme="md-block" flex="auto">
                                <input class="mdl-slider mdl-js-slider"
                                    [(value)]="boostField.value"
                                    [(ngModel)]="boostField.value"
                                    type="range" min="0" max="15">
                            </md-input-container>
                            <md-input-container md-theme="md-block" flex="15">
                                <input md-input 
                                    [(value)]="boostField.value"
                                    [(ngModel)]="boostField.value"
                                    min=0
                                    max=15 size="2"
                                    type="number">
                            </md-input-container>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
