<md-toolbar class="pg-toolbar">
    <search-box [(searchModel)]="searchModel" (results)="updateResults($event)" (loading)="loading=$event"></search-box>     
</md-toolbar>

    <div layout="row" layout-xs="column" layout-align="start start" layout-wrap>
        <div flex="30">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Instillinger for søk</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-sm="row" class="pg-row">
                        <md-input-container md-theme="md-block">
                            <md-switch class="md-primary" md-no-ink aria-label="Digital" [(checked)]="searchModel.digital">
                                Digital
                            </md-switch>
                        </md-input-container>
                        <md-input-container md-theme="md-block">
                            <md-switch class="md-primary" md-no-ink aria-label="Fritekst" [(checked)]="searchModel.freetext">
                                Fritekst
                            </md-switch>
                        </md-input-container>
                        <md-input-container md-theme="md-block">
                            <md-switch class="md-primary" md-no-ink aria-label="Grupper" [(checked)]="searchModel.group">
                                Grupper
                            </md-switch>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" class="pg-row">
                        <md-input-container md-theme="md-block" flex="30">
                            Mediatype
                        </md-input-container>
                        <md-input-container md-theme="md-block" flex>
                            <select [(ngModel)]="searchModel.mediatype" class="pg-mediatypes">
                                <option *ngFor="#mediatype of mediatypes" [value]="mediatype.value">
                                    {{mediatype.label}}
                                </option>
                            </select>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" class="pg-row" *ngFor="#boostField of searchModel.boostFields">
                        <md-input-container md-theme="md-block" flex="33">
                            {{boostField.label}}
                        </md-input-container>
                        <md-input-container md-theme="md-block" flex="60">
                            <input class="mdl-slider mdl-js-slider"
                                [(value)]="boostField.value"
                                [(ngModel)]="boostField.value"
                                type="range" min="0" max="15">
                        </md-input-container>
                        <md-input-container md-theme="md-block">
                            <input md-input 
                                [(value)]="boostField.value"
                                [(ngModel)]="boostField.value"
                                min=0
                                max=15
                                type="number">
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div layout="row" layout-align="space-between center">
                            <div class="md-headline">
                                Resultater
                            </div>
                            <div>
                               <button 
                                    md-fab class="md-mini md-primary" 
                                    aria-label="Bruk som sammenligning"
                                    (click)="toCompareAgainst()">
                                   <i class="material-icons">compare_arrows</i>
                               </button>
                               Antall treff: 
                               <select [(ngModel)]="searchModel.size"
                                    [value]="searchModel.size">
                                    <option *ngFor="#size of sizes" [value]="size">
                                        {{size}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <search-result
                            *ngFor="#result of results; #last = last"
                            [result]="result"
                            [last]="last">
                        </search-result>
                    </md-list>
                </md-card-content>
            </md-card>

        </div>
    </div>
