<md-toolbar class="pg-toolbar">
    <search-box [(searchModel)]="searchModel" (results)="updateResults($event)" (loading)="loading=$event"></search-box>     
</md-toolbar>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-gt-sm="40" flex>
            <search-settings [searchModel]="searchModel"></search-settings>
        </div>
        <div flex-gt-sm="60" flex>
            <search-results 
                [results]="results"
                [compare]="compare"
                [searchModel]="searchModel">
            </search-results>
        </div>
    </md-content>

