.pg-toolbar {
    height: 68px;
    background-color: cornflowerblue;
}

._pg-row {
    height: 40px;
}

_md-card-title {
    height: 0px;
}

._pg-mediatypes {
    width: 100%;
}

md-input-container  {
    margin: 0px;
}