<md-toolbar class="pg-toolbar">
    <div class="md-toolbar-tools" layout="row">
        <h3 class="pg-toolbar-label">
            Mine favoritter
        </h3>
    </div>       
</md-toolbar>
<div>
  <md-content>
    <md-list>
      <md-list-item class="md-2-line" *ngFor="#favorite of myFavorites; #index = index">
        <div class="md-list-item-text" layout="column">
          <h3>{{ favorite.name }}</h3>
          <p>
              <button md-raised-button class="md-raised md-primary" (click)="onSelectFavorite(favorite)">Åpne</button>
              <button md-raised-button class="md-raised md-primary" (click)="removeFromFavorites(favorite)">Slett</button>
              
          </p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>