<md-toolbar class="pg-toolbar">
    <div class="md-toolbar-tools" layout="row">
        <h3 class="pg-toolbar-label">
            Mine favoritter
        </h3>
    </div>       
</md-toolbar>
<div>
  <md-content>
    <md-list>
      <md-list-item class="md-2-line" *ngFor="#favorite of myFavorites; #index = index">
          
        <div class="md-list-item-text" layout="column">
          <h3>
              <button [id]="favorite.id" md-button class="md-icon-button" aria-label="Åpne"
                (click)="onSelectFavorite(favorite)">
                <i class="pl-md-icon" md-icon>open_in_browser</i>
              </button>
              <span [mdlFor]="favorite.id" class="mdl-tooltip">Åpne</span>
              <button [id]="favorite.id" md-button class="md-icon-button" aria-label="Slett"
                (click)="removeFromFavorites($event, favorite)">
                <i class="pl-md-icon" md-icon>delete</i>
              </button>
              <span [mdlFor]="favorite.id" class="mdl-tooltip">Fjern</span>
              {{ favorite.id }} - {{ favorite.name }}
          </h3>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>