.pg-toolbar-label {
    margin-left: 40px;
    margin-right: 10px;
}

.pg-toolbar {
    height: 68px;
    background-color: cornflowerblue;
}

md-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}