<md-toolbar class="pg-toolbar">
    <div class="md-toolbar-tools" layout="row">
        <h3 class="pg-toolbar-label">
            Trefflister
        </h3>
    </div>
</md-toolbar>
<md-content>
    <md-list>
        <md-list-item>
            <div class="md-list-item-text" layout="column">
                <a class="mdl-navigation__link" [routerLink]="['Supersearch1']" aria-label="Supersøk 1">
                    <h5>Supersøk 1</h5>
                </a>
            </div>
        </md-list-item>
    </md-list>
</md-content>