<div layout="column" class="md-inline-form">
<md-toolbar class="pg-toolbar">
    <div class="md-toolbar-tools" layout="row" id="searchToolbar">
        <h3 class="pg-toolbar-label">
            Innstillinger
        </h3>
    </div>
</md-toolbar>

<md-content layout-padding>
    <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <form name="settingsForm" (ngSubmit)="onSubmit()" #settingsForm="ngForm">
          <div layout-gt-sm="column">
          <md-input-container md-theme="md-block">
            <select [(ngModel)]="settings.endpoint">
              <option *ngFor="#endpoint of settings.endpoints" [value]="endpoint">
                {{endpoint}}
              </option>
            </select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Endepunkt</label>
                <input md-input
                    [value]="settings.endpoint" 
                    [(ngModel)]="settings.endpoint">
                    
             </md-input-container>            

              <button md-raised-button type="submit"
                class="md-raised md-primary">Lagre</button>
          </div>
      </form>
    </div>
  </md-content>
</div>